<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Claude Monet</title>
    <link href="DATA/CSS/style.css" rel="stylesheet" />
</head>

<body>
{% include 'navigation.twig' %}
<h2>Гастрономическое место силы - Claude Monet</h2>
<section>
    {% include 'Bullshit.twig' with {'some_wrds':"‌с неповторимым стилем имеет изысканный и аккуратный интерьер,
                                                  предоставляя своим посетителям приятные моменты в теплой и
                                                  непринужденной обстановке."
    } %}
</section>

{% include 'footer.twig' %}
</body>
</html>
