<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Меню</title>
    <link href="DATA/CSS/menustyle.css" rel="stylesheet" />
  </head>

  <body>

  {% include 'navigation.twig' %}

      <h2>Меню</h2>
      <section>
        {% include 'Bullshit.twig' with {'some_wrds':"Все блюда неизбежно связаны с воспоминаниями: где вы их съели, с кем
                                                      вы были, окрестности, погода, атмосфера — все это влияет на вкус
                                                      блюда. Мы бы хотели совершить это путешествие с Вами."
        } %}


        {% for ord in myords %}
          {% include 'ords.twig' with {
            'Название':ord.Название,
            'immage':ord.immage}%}
        {% endfor %}


      </section>

  {% include 'footer.twig' %}

    </div>
  </body>
</html>
