@media only screen and (orientation: landscape)  {
  body {
    font-family: 'Muli', century gothic;
    font-size: 20px;
  }
}
@media only screen and (orientation: portrait)  {
  body {
    font-family: 'Muli', century gothic;
    font-size: 10px;
  }
}
body {
  background: url("Images/fon2.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
}
.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
  font-size: 15px;
  padding-top: 250px;
}

h2 {
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #e9967a;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1000px 480px;
}
section {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 25px;
  color: #ffffff;
  text-align: left;
  padding-left: 15px;
  padding-top: 40px;
}

img {
  float: right;
  text-align: left;
  border-radius: 4px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  width: 600px;
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  padding-left: 10%;
}
